@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}




#video {
    /*天地中央配置*/
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center top;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;

}

#back-blue {
    background-color: #0a1f58;
    position: fixed;
    inset: 0;
    z-index: 1;
    /* translate: 0 100vh; */
    opacity: 0.7;
}

#main-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center top;
    z-index: -1;
    width: 100%;
    height: 100%;
    pointer-events: none;

}
nav {
    margin-top: 50vh;
}
.main-nav {
    font-size: 2.0rem;
    text-transform: uppercase;
    list-style: none;
    padding-bottom: 15vh;
    background: #020a2270;
    /* width: 30vw; */

}


.main-nav a {
    color: rgba(240, 248, 255, 0.719);
    padding: 10px 300px 10px 10px;
    border-radius: 5px;
}
.main-nav li:hover {
    background-color: rgba(219, 120, 27, 0.658);
}



/* ロゴ設定 */
.logo {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
    margin: 20px;
    padding: 20px;
    min-width: 300px;
    /* background-color: rgba(244, 244, 248, 0.521); */
}

.page-header {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    /* padding-top: 700px; */
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 4%;
}

a {
    text-decoration: none;
}
.logo-link {
    width: 50%;
    margin: 700px 20px 20px 20px;
}

.i343 {
    position: fixed;
    bottom: 6vh;
    right: 10vh;
}
  


